[submodule "themes/hugo-theme-luna"]
	path = themes/hugo-theme-luna
	url = https://github.com/Ice-Hazymoon/hugo-theme-luna
	branch = master
[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
